* {
	line-height: 1;
	font-size: 48px;
}

body { 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 95%;
	height: 95%;
        color: white;	
	padding: 4px;
	font-size: 48px;
	border: 4px solid white;
}

h1 {
	border: 4px solid white;
	width: 95%;
	margin: 30px;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	font-size: 92px;
}

h1 em {
	font-size:92px;
}

h2 {
	border: 4px solid white;
	width: 95%;
	background: rgba(255, 255, 255, 0.25);
	text-align: center;
	font-size: 74px;
}

h3 {
	border: 4px solid white;
	width: 95%;
	background: rgba(255, 255, 255, 0.125);
	text-align: center;
	font-size: 48px;
}

ul {
	border: 4px solid white;
	width: 93%;
	flex: 1;
	font-size: 48px;
}

ul ul {
	border: 0px solid transparent;
	font-size: 32px;
}

ul ul li {
	border: 0px solid transparent;
	font-size: 32px;
}

ol {
	border: 4px solid white;
}

li {
	list-style-position: inside;
	padding: 1%;
}

table {
	flex: 1;
	width:100%;
}

th {
	background: rgba(255, 255, 255, 0.5);
	border-right: 4px solid white;
	border-bottom: 4px solid white;
	padding: 16px;
}

td {
	width:45%;
	border-right: 4px solid white;
	padding: 16px;
}

p {
	width: 100%;
}

img {
	width: 100%;
	flex:1;
}

.codehilite {
	flex:1;
}

.codehilite pre {
	border: 4px solid white;
	border-radius: 42px;
	background: rgba(0, 80, 0, 0.5);
	padding: 16px;
}

.fullscreen {
	align: center;
	height: 100%;
}

.hidden {
	display:None;
}

td.linenos .normal { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #44475a }
.c { color: #6272A4;visibility: hidden!; } /* Comment */
.err { color: #F8F8F2 } /* Error */
.g { color: #F8F8F2 } /* Generic */
.k { color: #FF79C6 } /* Keyword */
.l { color: #F8F8F2 } /* Literal */
.n { color: #F8F8F2 } /* Name */
.o { color: #FF79C6 } /* Operator */
.x { color: #F8F8F2 } /* Other */
.p { color: #F8F8F2 } /* Punctuation */
.ch { color: #6272A4 } /* Comment.Hashbang */
.cm { color: #6272A4 } /* Comment.Multiline */
.cp { color: #FF79C6 } /* Comment.Preproc */
.cpf { color: #6272A4 } /* Comment.PreprocFile */
.c1 { color: #6272A4 } /* Comment.Single */
.cs { color: #6272A4 } /* Comment.Special */
.gd { color: #8B080B } /* Generic.Deleted */
.ge { color: #F8F8F2; text-decoration: underline } /* Generic.Emph */
.ges { color: #F8F8F2; text-decoration: underline } /* Generic.EmphStrong */
.gr { color: #F8F8F2 } /* Generic.Error */
.gh { color: #F8F8F2; font-weight: bold } /* Generic.Heading */
.gi { color: #F8F8F2; font-weight: bold } /* Generic.Inserted */
.go { color: #44475A } /* Generic.Output */
.gp { color: #F8F8F2 } /* Generic.Prompt */
.gs { color: #F8F8F2 } /* Generic.Strong */
.gu { color: #F8F8F2; font-weight: bold } /* Generic.Subheading */
.gt { color: #F8F8F2 } /* Generic.Traceback */
.kc { color: #FF79C6 } /* Keyword.Constant */
.kd { color: #8BE9FD; font-style: italic } /* Keyword.Declaration */
.kn { color: #FF79C6 } /* Keyword.Namespace */
.kp { color: #FF79C6 } /* Keyword.Pseudo */
.kr { color: #FF79C6 } /* Keyword.Reserved */
.kt { color: #8BE9FD } /* Keyword.Type */
.ld { color: #F8F8F2 } /* Literal.Date */
.m { color: #FFB86C } /* Literal.Number */
.s { color: #BD93F9 } /* Literal.String */
.na { color: #50FA7B } /* Name.Attribute */
.nb { color: #8BE9FD; font-style: italic } /* Name.Builtin */
.nc { color: #50FA7B } /* Name.Class */
.no { color: #F8F8F2 } /* Name.Constant */
.nd { color: #F8F8F2 } /* Name.Decorator */
.ni { color: #F8F8F2 } /* Name.Entity */
.ne { color: #F8F8F2 } /* Name.Exception */
.nf { color: #50FA7B } /* Name.Function */
.nl { color: #8BE9FD; font-style: italic } /* Name.Label */
.nn { color: #F8F8F2 } /* Name.Namespace */
.nx { color: #F8F8F2 } /* Name.Other */
.py { color: #F8F8F2 } /* Name.Property */
.nt { color: #FF79C6 } /* Name.Tag */
.nv { color: #8BE9FD; font-style: italic } /* Name.Variable */
.ow { color: #FF79C6 } /* Operator.Word */
.pm { color: #F8F8F2 } /* Punctuation.Marker */
.w { color: #F8F8F2 } /* Text.Whitespace */
.mb { color: #FFB86C } /* Literal.Number.Bin */
.mf { color: #FFB86C } /* Literal.Number.Float */
.mh { color: #FFB86C } /* Literal.Number.Hex */
.mi { color: #FFB86C } /* Literal.Number.Integer */
.mo { color: #FFB86C } /* Literal.Number.Oct */
.sa { color: #BD93F9 } /* Literal.String.Affix */
.sb { color: #BD93F9 } /* Literal.String.Backtick */
.sc { color: #BD93F9 } /* Literal.String.Char */
.dl { color: #BD93F9 } /* Literal.String.Delimiter */
.sd { color: #BD93F9 } /* Literal.String.Doc */
.s2 { color: #BD93F9 } /* Literal.String.Double */
.se { color: #BD93F9 } /* Literal.String.Escape */
.sh { color: #BD93F9 } /* Literal.String.Heredoc */
.si { color: #BD93F9 } /* Literal.String.Interpol */
.sx { color: #BD93F9 } /* Literal.String.Other */
.sr { color: #BD93F9 } /* Literal.String.Regex */
.s1 { color: #BD93F9 } /* Literal.String.Single */
.ss { color: #BD93F9 } /* Literal.String.Symbol */
.bp { color: #F8F8F2; font-style: italic } /* Name.Builtin.Pseudo */
.fm { color: #50FA7B } /* Name.Function.Magic */
.vc { color: #8BE9FD; font-style: italic } /* Name.Variable.Class */
.vg { color: #8BE9FD; font-style: italic } /* Name.Variable.Global */
.vi { color: #8BE9FD; font-style: italic } /* Name.Variable.Instance */
.vm { color: #8BE9FD; font-style: italic } /* Name.Variable.Magic */
.il { color: #FFB86C } /* Literal.Number.Integer.Long */
